<div>Nz Form</div>
<h2 style="text-align: center;">
  Form valid: {{ formGroup.valid }}
</h2>
<form [formGroup]="formGroup" autocomplete="false">
  <nz-form-item>
    <nz-form-label [nzSpan]="6"
                   nzFor="name">Name</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input id="name"
             type="text"
             formControlName="name"
             nz-input
             [appValidatorRules]="nameRules" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6"
                   nzFor="email">Email</nz-form-label>
    <nz-form-control nzSpan="14">
      <input nz-input
             autocomplete="off"
             formControlName="email"
             [appValidatorRules]="emailRules"
             id="email">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6"
                   nzFor="age">Age</nz-form-label>
    <nz-form-control nzSpan="14">
      <nz-input-number formControlName="age"
                       style="width: 100%"
                       id="age"
                       autocomplete="off"
                       [appValidatorRules]="ageRules"></nz-input-number>
    </nz-form-control>
  </nz-form-item>
</form>